body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.menu-main {
    position: sticky;
    list-style: none;
    padding: 10px 5px;
    text-align: center;
    background: rgb(255, 255, 255);
    margin-bottom: -4%;
    z-index: 3;
    color: darkslategray;
    text-decoration: none;
    font-weight: bold;
    word-spacing: 10%;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a, .menu-main a:visited {
    color: #000000;
}

.menu-main a.current, .menu-main a:hover {
    color: #000000;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: 18px;
    left: 50%;
    background: black;
    transition: .8s;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: "|";
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
}

h1 {
  text-align: center;
  color: #555; 
}

.slider {

  width: 450px;
  height: 600px; 
  margin: auto; 
  margin-top: 10px;
}
.slider img {
  width: 100%;
  height: 100%;
  display: none;
}
.slider img.active {
  display: block;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}
.button {
  background-color: green; 
  border: none;
  color: white;
  padding: 12px 24px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px; 
  margin: 10px;
  cursor: pointer;
}

.banner {
  position: relative;
  width: 40%;
  margin-left:30%;
  height: 500px;
  overflow: hidden;
}


.sales {
    color: rgb(0, 0, 0);
    display: flex;
    padding: 30px 0 0 0;
    margin-left:35%;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.sales-tittle {
    font-weight: bolder;
    font-size: 80px;
}

.sales-grid {
    margin-left: 30%;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    position: relative;

}

.grid-item {
    margin-left: 30%;
}

.buy{
    margin-left:44%;
    font-size:40px;
}

.banner-img {
  position: absolute;
  width: 100%;
  height: 400px;
  opacity: 0;
  transition: opacity 1s;
}

.banner-img.active {
  opacity: 1;
  margin-bottom: 10px;
}

.tittle1 {
    position: relative;
    color: white;
    font-size: 70px;
    font-weight: bold;
    padding-top: 50px;
}

.text1 {
    width: 90%;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.img-sale {
    padding: 0px 20px 0 20px;
    width: 40%;
}

.sale {
    color: white;
    display: flex;
    padding: 0px 0 0 0;
    margin: 0 100px 100px;
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: antiquewhite;
    border-radius: 15px;
    margin-top: 50px;
    position: relative;
}
